#rules_modal .modal{
  &-dialog {
    max-width: max-content;
    
    .modal-content {
      color: black;
      padding-left: 10px;
      padding-right: 10px;

      .modal-header{
        width: 100%;
      }
    }

    .rules-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      a{
       width: 200px;
       margin: 10px; 
      }
      
        h5 {
        padding: 10px;
      }
    }
      
      .rule-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

          > img {
        width: 300px;
        height: 300px;
        }
      }
  }
}
  
  .basic-rules-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
    
  .castling-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .ending-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .dead-position-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
