.tile {
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;

  }
  
  .tile img {
    width: 50px;
  }
  .black-tile {
    background-color: #779556;
  }
  
  .white-tile {
    background-color: #ebecd0;
  }
  
  .tile .chess-piece {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
  }
  
  .tile .chess-piece:hover {
    cursor: grab;
  }
  
  .tile .chess-piece:active {
    cursor: grabbing;
  }
  
  .possible {
    background-color: rgb(127, 127, 127);
  }
  