#rules_modal .modal-dialog {
  max-width: max-content;
}

.modal-content {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.rules-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-modal-body h5 {
  text-align: center;
  padding: 10px;
}

.basic-rules-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.rule-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rule-wrapper > img {
  width: 300px;
}

.castling-wrapper {
  display: flex;
  justify-content: center;
}

.ending-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.dead-position-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
